.header{
    background-color: $verde;

    .contenido-header{
        padding: $separacion / 2 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h1{
        color: $blanco;
    }
}

.navegacion-principal{
    display: flex;
    gap: 2rem;

    a{
        color: $blanco;
        font-display: 2rem;

        &:hover{
            color: $amarillo;
        }
    }
}